@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ham-nav-link {
    @apply flex items-center bg-[#fff] text-slate-800 justify-between px-10 text-xl border-b py-3 cursor-pointer;
  }

  .nav-link {
    @apply flex items-center font-medium space-x-2 text-slate-800
  }

  .links-hover {
    @apply transition duration-300 hover:text-[#0E7AB3]
  }

  .skyButton {
    @apply flex justify-center items-center px-4 py-3 md:px-9 md:py-4 border border-sky-500 bg-sky-500 rounded-full transition duration-300 hover:border-sky-600 hover:bg-sky-600
  }

  .outlineButton {
    @apply flex justify-center items-center px-4 py-3 md:px-9 md:py-4 border border-solid rounded-full transition duration-300 hover:border-sky-700
  }

  .skySqrButton {
    @apply gap-3 justify-between items-center px-4 py-3 md:px-9 md:py-4 bg-sky-500 text-[#fff] rounded-md transition duration-300 hover:bg-sky-600
  }

  .titleStyle {
    @apply text-center font-bold text-3xl md:text-4xl lg:text-5xl text-slate-800
  }

  .hoverTranslateY {
    @apply hover:-translate-y-[5px]
  }

  .subTitleStyle {
    @apply text-center text-lg pb-12 text-neutral-500
  }

  .contentHeader {
    @apply text-xl font-bold tracking-normal text-slate-800
  }

  .contentText {
    @apply text-sm font-medium tracking-wide text-neutral-500
  }

  .paddingForSections {
    @apply py-20 md:py-28
  }
}


.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: 0.4s;
  background-color: #1E293B;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

#scroll::-webkit-scrollbar {
  display: none;
}

#scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}