@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ham-nav-link {
    @apply flex items-center bg-[#fff] text-slate-800 justify-between px-10 text-xl border-b py-3 cursor-pointer;
  }

  .nav-link {
    @apply flex items-center font-medium space-x-2 text-slate-800
  }

  .links-hover {
    @apply transition duration-300 hover:text-[#0E7AB3]
  }

  .skyButton {
    @apply flex justify-center items-center px-4 py-3 md:px-9 md:py-4 border border-sky-500 bg-sky-500 rounded-full transition duration-300 hover:rounded-md
  }

  .outlineButton {
    @apply flex justify-center items-center px-4 py-3 md:px-9 md:py-4 border border-solid rounded-full transition duration-300 hover:rounded-md
  }

  .skySqrButton {
    @apply gap-3 justify-between items-center px-4 py-3 md:px-9 md:py-4 bg-sky-500 text-[#fff] rounded-md hover:rounded-full
  }

  .titleStyle {
    @apply text-center font-bold text-3xl md:text-4xl lg:text-5xl text-slate-800
  }

  .hoverTranslateY {
    @apply hover:-translate-y-[5px]
  }

  .subTitleStyle {
    @apply text-center text-lg pb-6 text-neutral-500
  }

  .contentHeader {
    @apply text-xl font-bold tracking-normal text-slate-800
  }

  .contentText {
    @apply text-sm font-medium tracking-wide text-neutral-500
  }

  .paddingForSections {
    @apply py-20 md:py-28
  }
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: 0.4s;
  background-color: #1E293B;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

#scroll::-webkit-scrollbar {
  display: none;
}

#scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}